{% extends 'base.html' %} 
{% block title %}Reset password{% endblock %} 

    {% block contents %}
    <div class="container">
        <div class="row">
            <div class="col py-4">
                <hr>
                <h3>パスワードをリセットしますか？</h3>
                <p>
                    登録済みのメールアドレスを入力してください。
                    パスワードリセットのリンクを記載したメールをすぐにお届けします。
                </p>
                <br>
                <form action ="" method="POST" class="text-center">
                    {% csrf_token %}
                    {{form}}
                    <input type="submit" value="メールを受け取る" /><br>
                </form>
                <br>
                <a href="{% url 'photo:index' %}">Photo Gallery</a>
                <hr>
            </div>
        </div>
    </div>
    {% endblock %}
